<div class="overlay">

  <h2>
    {{ data?.tarea ? 'Editar Tarea' : 'Nueva Tarea' }}
  </h2>

  <form [formGroup]="form">

    <div>
      <label>Título</label>
      <input type="text" formControlName="titulo">
    </div>

    <div>
      <label>Descripción</label>
      <textarea formControlName="descripcion"></textarea>
    </div>


    <div>
      <label>Estado</label>
      <select  formControlName="idEstado">
        
        @for (estado of data.estados; track estado.id) {
        <option  [ngValue]="estado.id" >
          {{ estado.nombre }}
        </option>
        }
      </select>
    </div>

    <div>
      <label>Prioridad</label>
      <select formControlName="idPrioridad">
        
        @for (prioridad of data.prioridades; track prioridad.id) {
        <option [ngValue]="prioridad.id" >
          {{ prioridad.nombre }}
        </option>
        }
      </select>
    </div>

  </form>


  <div class="buttons">
    <button type="button" (click)="cerrar()">Cancelar</button>
    <button type="button" (click)="guardar()">Guardar</button>
  </div>
</div>